:root {
--cor-de-fundo: rgba(255, 208, 0, 0.473);
}

body {

    background-color:rgb(105, 105, 105);
}

h1 {

    background-color: rgb(105, 105, 105);
}
.cabecalho {
    background-color: bisque;
}
.cabecalho-titulo{
    font-size: 100px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}
.cabecalho-menu{
    background-color: var(--fundo-menu)
}
.cabecalho-menu-item{
    display:block;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(221, 0, 0);
    text-align: center;
    border-top: 1px solid;
}
.cabecalho-menu-item{
    display:block;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    border-top: 1px solid;
}

.img-class {
    width: 100px;

}